# Files and directories created by pub.
.dart_tool/
.packages
pubspec.lock

# Conventional directory for build output.
build/

# Private Data (keys , tokens)
bin/private.dart
private.dart

# Dart generator
gdart.dart

# test
test.*
test.dart
test.js
test.png
test.txt
dupe.*

# ide folders
.vscode

# cosmetics cache
cosmetics/

# mac
.DS_STORE